[submodule "demos/bounce_back/bounce_back"]
	path = demos/bounce_back/bounce_back
	url = https://github.com/honorifi/Bounce_Back_Bench.git
[submodule "edit_occlum/occlum"]
	path = edit_occlum/occlum
	url = https://github.com/occlum/occlum.git
[submodule "demos/bounce_back/Bounce_Back_Bench"]
	path = demos/bounce_back/Bounce_Back_Bench
	url = git@github.com:honorifi/Bounce_Back_Bench.git
